#app
  font-family -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif, Meiryo
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
